<!doctype html>
<html class="no-js" lang="de">
	<head>
    {{> partials/meta }}
    {{> partials/styles }}
	</head>
	<body>
	{{> partials/header pageId=this.pageId }}
    {{> content }}
    {{> partials/footer }}
    {{> partials/scripts }}
	</body>
</html>
