<!doctype html>
<html class="no-js" lang="en">
	<head>
    {{> meta }}
    {{> styles }}
	</head>
	<body>
		{{> header training-kids=true }}
    {{> content }}
    {{> footer }}
    {{> scripts }}
	</body>
</html>
