.accordion {
  border-bottom: solid 1px #ccc;

  summary {
    cursor: pointer;
    padding: 0.5em 0;
    font-weight: bold;

    h2 {
      display: inline-block;
      margin: 0;
    }
  }

  &__content {
    padding-bottom: 1em;

    > *:first-child {
      margin-top: 0;
    }
  }
}
