.accordion {
  border-bottom: solid 1px #ccc;

  &:last-child {
    border: 0;
  }

  summary {
    cursor: pointer;
    padding: 0.5em 0;
    font-weight: bold;
    color: $orange;
    list-style-type: none;
    padding-left: 25px;
    text-indent: -25px;

    &::-webkit-details-marker {
      display: none;
    }

    > * {
      display: inline; /* so that block level elements don't wrap below marker when there is not enough space */
      margin: 0;
    }

    &::before {
      content: "";
      background: url(../img/down.svg) no-repeat;
      background-size: 22px;
      background-position: center center;
      width: 22px;
      height: 23px;
      display: inline-block;
      vertical-align: -2px;
      margin-right: 5px;
      transition: all 0.25s;
    }
  }

  &[open] summary::before {
    //background-image: url(../img/up.svg);
    transform: rotate(180deg);
  }

  &__content {
    padding-bottom: 1em;

    > *:first-child {
      margin-top: 0;
    }
  }
}
