.accordion {
  border-bottom: solid 1px #ccc;

  &:last-child {
    border: 0;
  }

  summary {
    cursor: pointer;
    padding: 0.5em 0;
    font-weight: bold;
    color: $orange;
    list-style: none;

    &::before {
      content: "";
      background: url(../img/down.svg) no-repeat;
      background-size: 22px;
      background-position: center center;
      width: 22px;
      height: 23px;
      display: inline-block;
      vertical-align: text-bottom;
      margin-right: 5px;
    }

    h2 {
      display: inline-block;
      margin: 0;
    }
  }

  &[open] summary::before {
    background-image: url(../img/up.svg);
  }

  &__content {
    padding-bottom: 1em;

    > *:first-child {
      margin-top: 0;
    }
  }
}
