footer {
  padding: 20px;
	margin-top: 40px;
  font-size: 1rem;
  background: $yellow;

  @media (min-width: 768px) {
    background: $lightGray;
  }

  clip-path: polygon(
    0 0,
    100% 50px,
    100% 100%,
    0 100%
  );

  .footer__content {
    .copyright {
      margin-bottom: 0.5em;
      display: block;
    }

    address {
      font-style: normal;
    }

    @media (min-width: 1024px) {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
    }
  }

	ul {
		list-style: none;
		margin: 0 0 15px 0;
		padding: 0;

		li {
			display: inline;
			margin-right: 10px;

      &:last-child {
        margin-right: 0;
      }
		}
	}
}
