form {
  margin-top: 30px;

  table {
    margin: 10px 0;

    tr:nth-child(odd) td {
      background: #eee;
    }
    
    td {
      padding: 5px;

      @media (min-width: 768px) {
        padding: 10px 30px 10px 10px;
      }

      &:first-child {
        font-weight: 500;
      }
    }
  }

  input[type="checkbox"] {
    margin: 0 3px 0 0;
  }

  .column {
    display: block;

    @media (min-width: 768px) {
      margin-right: 50px;
      display: inline;
    }
  }

  button {
    font-size: 20px;
    background: #C64200;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 20px 0px;
    cursor: pointer;

    @media (min-width: 768px) {
      font-size: 24px;
      padding: 12px 30px;
    }

  }

  .row {
    display: block;
    margin-top: 10px;


    label {
      display: inline-block;
      min-width: 200px;
    }

    input {
      width: 100%;
      border: solid 1px #ccc;
      border-radius: 0;
      padding: 5px;
      box-sizing: border-box;

      @media (min-width: 768px) {
        width: auto;
        min-width: 300px;
      }
    }
  }
}


