@import "./settings";

.header {
	display: flex;
	justify-content: space-between;
	align-items: top;
  flex-wrap: wrap;
  font-family: Quicksand, arial, verdana, sans-serif;
  width: 100%;
  padding: 5px 10px 0;
  box-sizing: border-box;
  background: $yellow;
  //background: linear-gradient(to bottom, $yellow 10%, #fff 100%);


  @media (min-width: 768px) {
    position: absolute;
    z-index: 10;
    background: linear-gradient(to bottom, rgba(0,0,0,1) 0%,rgba(0,0,0,0) 100%);
    min-height: 150px;
  }

	@media (min-width: 1024px) {
    margin: 0;
    padding: 0;
	}  

  nav {
    font-weight: 500;
    margin-top: 20px;
    margin-right: 20px;

    @media (max-width: 767px) {
      flex: 0 0 100%;
      margin-top: 10px;

      .js & {
        overflow: hidden;
        transition: max-height 0.5s;
        margin-bottom: 0;
      }
    }
  
    @media (min-width: 768px) {
      .js & {
        max-height: none !important; //used !important to overwrite max-height set by js
      }
    }
  
    ul {
      list-style: none;
      margin: 0;
      padding: 0;

      @media (max-width: 767px) {
        margin-bottom: 10px;
      }

  
      li {
        line-height: 1.5;
        color: black;
        font-weight: bold;
  
        @media (max-width: 767px) {
          border-bottom: solid 1px #000;
          line-height: 2.4;
  
          &:last-child {
            border: none;
          }
  
          a {
            display: block;
          }
        }
  
        @media (min-width: 768px) {
          color: white;

          display: inline;
          margin-left: 20px;
          font-size: 1em;
  
          &:first-child {
            margin-left: 0;
          }
        }

        @media (min-width: 1024px) {
          font-size: 1.1em;
          font-weight: 500;
        }

        @media (min-width: 1400px) {
          font-size: 1.25em;
          font-weight: 500;
        }
      }
    }
  }
  
}
