.logo {
  font-weight: bold;
  font-size: 20px;
  line-height: 1.3;
  color: #000;
  position: relative;

  @media (min-width: 768px) {
    color: white;
    top: 16px;
    left: 35px;

    .home & {
      top: 120px;
    }
  }

  span {
    font-weight: normal;
    font-size: 13px;
    display: block;
  }

  @media (min-width: 768px) {
    letter-spacing: 1px;
  }

  @media (min-width: 1024px) {
    font-size: 1em;

    span {
      font-size: 0.55em;
      line-height: 1;
    }
  }

  @media (min-width: 1200px) {
    font-size: 2em;
  }

  .home & {

  
    @media (min-width: 1400px) {
      font-size: 2.8em;
    }  
  }

  &:hover {
    text-decoration: none;
  }
}
