.logo {
  font-weight: bold;
  font-size: 24px;
  line-height: 1.25;
  color: $orange;
  color: #000;
  position: relative;
  margin-bottom: 5px;
  margin-top: 10px;

  @media (min-width: 768px) {
    color: white;
    top: 16px;
    left: 35px;
  }

  @media (min-width: 1024px) {
    font-size: 1em;
  }

  @media (min-width: 1200px) {
    font-size: 2em;
  }

  .home & {
    @media (min-width: 768px) {
      top: 120px;
    }

    @media (min-width: 1400px) {
      font-size: 2.8em;
    }  
  }

  &:hover {
    text-decoration: none;
  }

  span {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.2;
    display: block;
    letter-spacing: 8.7px;

    @media (min-width: 768px) {
      letter-spacing: 13.8px;
    }

    @media (min-width: 1024px) {
      font-size: 0.55em;
    }
  }
}
