@import './settings';

.stage {
  margin-top: -10px; /* fix chrome bug showing a thin white line in responsive mode */
  background-color: #eee;
  clip-path: polygon(
    0 30px,
    100% 0,
    100% calc(100% - 30px),
    0 100%
  );

  @media (min-width: 768px) {
    margin: 0;
    padding: 0;
    width: 100%;

    clip-path: polygon(
      0 45px,
      100% 0,
      100% 100%,
      0 calc(100% - 45px)
    );
  }

  .bg {
    aspect-ratio: 4/3;

    @media (min-width: 768px) {
      aspect-ratio: auto;
      width: 100%;
      height: 75vh;
      margin-top: 0;

      &--full-height {
        height: 108vh;
      }
    }

    img {
      vertical-align: bottom;
    }
  }

  /****** stage on homepage *****/
  &--home {
    .stage__wrapper {
      background: rgb(250,206,105);
      background: linear-gradient(0deg, rgba(250,206,105,1) 0%, rgba(250,206,105,1) 50%, rgba(255,255,255,1) 51%);
    }

    @media (min-width: 768px) {
      background: none;
      clip-path: none;
      padding-bottom: 0;

      .stage__wrapper {
        background: none;
      }
    }

    .bg {
      clip-path: polygon(
        0 30px,
        100% 0,
        100% calc(100% - 30px),
        0 100%
      );
  
      @media (min-width: 768px) {
        clip-path: polygon(
          0 0,
          100% 0,
          100% 100%,
          0 calc(100% - 45px)
        );
      }
    }

    .teaser-wrapper {
      background: rgb(250,206,105);
      padding-bottom: 2em;


      @media (min-width: 768px) {
        position: absolute;
        z-index: 10;
        left: 58vw;
        bottom: 10vh;
        color: white;
        width: 40vw;
        background: none;
        padding: 0;

        .teaser {
          border: 0;

          .button {
            margin-top: 15px;
          }
        }
      }
    }

  } 
}
