.stage {
  .bg img {
    vertical-align: bottom;
  }

  @media (min-width: 768px) {
    .bg {
      height: 50vh;
    }

    &--full-height .bg {
      height: 100vh;
    }
  }

  .teaser-wrapper {
    background: #ccc;
    padding: 20px;

    @media (min-width: 768px) {
      position: absolute;
      z-index: 10;
      left: 58vw;
      bottom: 5vh;
      color: white;
      width: 40vw;
      height: 50vh;
      overflow-y: auto;
      background: none;
      padding: 0;
    }
  }
}
