.teaser {
  padding-bottom: 15px;
  margin-bottom: 15px;
  border-bottom: solid 1px rgba(0,0,0,0.5);
  position: relative;
  animation-duration: 1s;
  animation-name: slideinTeaser;
  animation-fill-mode: both;
  animation-delay: 0.25s;

  @media (min-width: 768px) {
    padding-bottom: 25px;
    margin-bottom: 30px;
    border-bottom: 0;
  }

  &--has-delay {
    animation-delay: 0.4s;;
  }

  @keyframes slideinTeaser {
    from {
      left: 500px;
      opacity: 0;
    }
  
    to {
      left: 0;
      opacity: 1;
    }
  }

  &:last-child {
    //border: 0;
    margin-bottom: 0;
    //padding-bottom: 0;
  }

  h2 {
    background: url(../img/ball.svg) no-repeat;
    background-size: 15px;
    background-position: 0 center;
    padding-left: 25px;   
    font-size: 20px;   
    margin-top: 0;

    @media (min-width: 768px) {
      background-size: 22px;
      padding-left: 35px; 
      font-size: 30px;
    }

    @media (min-width: 1300px) {
      font-size: 35px;   
    }
  }

  h3 {
    margin-top: 5px;
    font-size: 16px;
    padding-left: 28px;
    line-height: 1.5;

    @media (min-width: 768px) {
      padding-left: 35px;
      font-size: 20px;
    }

    @media (min-width: 1300px) {
      font-size: 25px;
    }

    a + a {
      border-left: solid 1px #777;
      padding-left: 10px;
      margin-left: 10px;

      @media (min-width: 768px) {
        border-left: solid 2px #ccc;
        padding-left: 20px;
        margin-left: 20px;
      }
    }
  }
}

