@import './settings';

.teaser {
  padding: 15px 15px 20px;
  position: relative;
  animation-duration: 0.8s;
  animation-name: slideinTeaser;
  animation-fill-mode: both;
  animation-delay: 0.5s;
  display: flex;
  flex-direction: column;

  @media (min-width: 768px) {
    padding-bottom: 15px;
    margin-bottom: 15px;
    flex-wrap: nowrap;
  }

  &--has-delay {
    animation-delay: 1s;;
  }

  @keyframes slideinTeaser {
    from {
      left: 300px;
      opacity: 0;
    }
  
    to {
      left: 0;
      opacity: 1;
    }
  }

  h2 {
    @media (min-width: 768px) {
      font-size: 30px;
      color: $yellow;
    }
  }

  p {
    margin-top: 10px;
    font-size: 18px;
    line-height: 1.5;

    @media (min-width: 768px) {
      font-size: 20px;
      margin-top: 0;
    }

    a {
      font-weight: 500;

      + a {
        border-left: solid 1px #000;
        padding-left: 13px;
        margin-left: 10px;
      }
    }
  }

  .button a {
    background-color: $orange;
    padding: 8px 10px;
    font-weight: bold;
    font-size: 18px;
    color: white;
    text-decoration: none;
    text-align: center;
    display: block;
    margin-top: 10px;
    max-width: 215px;

    @media (min-width: 768px) {
      padding: 5px 15px 8px;
    }
  }
}

